<!DOCTYPE html>
<html>
<head>
	<h1>用户注册</h1>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户注册</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<body>
<form method="post" enctype="multipart/form-data">
{{ uf.as_p }}
<p>
<input type="submit" value="regist"/>
<input type="reset" value="reset" class="reset" />
</p>
<p>


</p>
</body>