<html>
<head>
	<h1>host'health</h1>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>host' health</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<h1>	{{hosts}}</h1>
<ol>
{% for host in hosts %}
<li>{{host}}</li>
{%endfor%}
</ol>

<div class="bs-example">
      <table class="table">
        <thead>
          <tr>
            <th>NUM</th>
            <th>HOSTNAME</th>
            <th>PING(ms)</th>
            <th>OS</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active">
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="success">
            <td>2</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          
        </tbody>
      </table>
</div><!-- /example -->
</body>

</html>
